header, footer {
    background: #333333;
    color: white;
    padding: 1rem;
}

.header-nav {
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
    gap: 10px; /* !* spacing between header links *!*/
}

.header-nav a{
    color:white;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:5px;
}

.sidebar {
    background: #F4F4F4 ;
    float: left;
    width: 100px;
    padding: 1rem;
    margin-right:5px;
}

main {
    flex: 1; /* pushes footer down */
}

aside a{
    display:block;
}

footer {
    width: 100%; /* pushes footer to the bottom */
}

.body{
    color:#333333;
    margin: 0;
    height: 100vh; /* full viewport height */
}